<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="rafaeldb"
		 providerName="System.Data."
		 connectionString=" data source=DESKTOP-BD8G1UL\SQLEXPRESS;initial catalog=RafaelDB;trusted_connection=true" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>